ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear;
}
a:active, a:focus, a:hover {
  color: #2c5999;
}
a:active, a:focus {
  outline: none;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #009688;
  -webkit-touch-callout: none;
}

input[type=button], input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #77a8f5;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  line-height: 1;
  padding: 12px 0;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
input[type=button]:disabled, input[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type=text], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
  font-size: 14px;
  padding: 20px 0 20px 16px;
  width: 100%;
  outline: none;
  border-radius: 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  margin: 0;
}
input[type=text]:hover, input[type=password]:hover {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  outline: none;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
}

/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.container {
  position: relative;
  min-height: 100%;
  margin: auto;
}

input.color-grey {
  color: #9da4b0;
  background-color: #e8e8e8;
}

.error-info {
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  height: 20px;
  line-height: 20px;
  background-color: #ff9082;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

/**setting-success**/
.setting-success {
  padding-top: 100px;
}

.setting-success .message-info {
  margin-bottom: 20px;
  border: none;
}

.setting-success .success-flag {
  width: 80px;
  height: 80px;
  background: url("../images/setting-success.png");
  background-size: cover;
  margin: auto;
}

.setting-success p {
  text-align: center;
  font-size: 16px;
  color: #4c5966;
}

.setting-success .success-info {
  margin-top: 50px;
}

.setting-success input[type=button] {
  display: block;
  width: 90%;
  margin: auto;
  padding: 12px 0;
}

@media screen and (max-height: 500px) {
  .setting-success {
    padding-top: 50px;
  }

  .setting-success .message-info {
    border: none;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 400px) and (max-width: 999px) {
  .send-verify .verify-wrap .verify {
    width: 70% !important;
  }

  .setting-phone-email .verify-wrap .verify {
    width: 70% !important;
  }
}
@media screen and (min-width: 1000px) {
  .send-verify .verify-wrap .verify {
    width: 80% !important;
  }

  .setting-phone-email .verify-wrap .verify {
    width: 80% !important;
  }
}
/**seting-new-password**/
.setting-new-password .password, .setting-new-password .password:focus, .setting-new-password .password:hover {
  border-top: 1px solid #e8e8e8;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e8e8e8;
}

.setting-new-password .repassword, .setting-new-password .repassword:focus, .setting-new-password .repassword:hover {
  border-top: none;
  border-bottom: 1px solid #e8e8e8;
  border-right: none;
  border-left: none;
}

.setting-new-password .btn-submit {
  display: block;
  width: 90%;
  margin: auto;
  padding: 12px 0;
  margin-top: 21px;
}

/**inupt-phone-email**/
.setting-phone-email .verify-wrap {
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #e8e8e8;
}

.setting-phone-email .verify-wrap .verify, .send-verify .verify-wrap .verify {
  float: left;
}

.setting-phone-email .verify-wrap .verify {
  width: 50%;
}

.setting-phone-email .verify-wrap .verify input, .setting-phone-email .verify-wrap .verify input:focus {
  border: none;
  margin: 0;
}

.setting-phone-email .verify-wrap .reload {
  position: relative;
  display: inline-block;
  float: right;
  right: 16px;
  top: 8px;
}

.setting-phone-email .verify-wrap .reload img {
  position: relative;
  width: 70px;
  height: 27px;
  top: 8px;
}

.setting-phone-email .verify-wrap .reload a {
  display: inline-block;
  text-align: center;
  line-height: 26px;
  background-color: #fff;
  color: #4c5966;
  font-size: 14px;
  width: 70px;
  height: 28px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #648ba6;
  margin: 0;
  text-decoration: none;
  margin-left: 5px;
}
.setting-phone-email .verify-wrap .reload a:hover {
  outline: none;
}

.setting-phone-email .btn-submit {
  display: block;
  width: 90%;
  margin: auto;
  padding: 12px 0;
  margin-top: 21px;
}

/**send-verify**/
.message-info {
  padding: 30px 0 30px 16px;
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.send-verify .verify-wrap {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.message-info .send-success-ico {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../images/send-success.png");
  background-size: cover;
}

.message-info .send-info {
  display: inline-block;
  margin-left: 10px;
}

.message-info .send-info h2 {
  font-size: 19px;
  color: #368600;
  font-weight: bold;
}

.message-info .send-info p {
  font-size: 14px;
  color: #4c5966;
}

.send-verify .verify-wrap {
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;
  outline: none;
  border-radius: 0;
}

.send-verify .verify-wrap .verify {
  width: 50%;
}

.send-verify .verify-wrap .verify input, .send-verify .verify-wrap .verify input:focus {
  border: none;
  margin: 0;
}

.send-verify .verify-wrap .resend {
  position: relative;
  display: inline-block;
  float: right;
  right: 16px;
  top: 14px;
}

.send-verify .verify-wrap .resend input.resend-verify {
  border: 1px solid #648ba6;
  color: #4c5966;
  outline: none;
}

.send-verify .verify-wrap .resend input {
  background-color: #fff;
  color: #9da4b0;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  padding: 6px 10px;
}

.send-verify .btn-submit {
  display: block;
  width: 90%;
  margin: auto;
  padding: 12px 0;
  margin-top: 21px;
}

.send-email-failed {
  margin-top: 21px;
  color: #9da4b0;
  font-size: 14px;
  padding-left: 16px;
}

.send-email-failed ul {
  list-style-type: disc;
  margin-left: 19px;
  margin-top: 2px;
}

.send-email-failed .resend-email {
  color: #003383;
  font-size: 15px;
  text-decoration: underline;
}

/*# sourceMappingURL=pure-css-project.css.map */
